.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
}

.dashboard-empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0.5rem;
}

.icon-styles{
    width: 25px;
    height: 25px;
}

.board-list-wrapper {
    display: flex;
    max-width: 500px;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.list-wrapper {
    min-width: 200px;
}